<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/shorten" method="post">
    <label>
        <input type="text" name="url" value="">
    </label>
    <label>
        <input type="submit" value="submit">
    </label>
</form>
</body>
</html>